/*
Project Name: Relaxr Landing
Client: Relaxr
Author: Grace Tamoro
Developer @GA in MEL
*/

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.landing h1 {
  padding-left: 50px;
  padding-top: 20px;
}

.landing h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.benefits h1 {
  font-weight: 600;
  font-size: 20px;
}

.benefits p {
  font-weight: 300;
  font-size: 13px;
}

li {
  font-weight: 300;
  font-size: 13px;
}

.testimonial p {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.testimonial em {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}

/******************************************
/* BACKGROUND & COLOURS
/*******************************************/
.landing {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

#button.primary  {
  background-color: #f9e42e;
  color: #033048;
}

.benefits {
  background-color: #f0efef;
  color: #606161;
}

.benefits_content h1 {
  color: #033048;
}

.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

/******************************************
/* IMAGE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.landing {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.logo {
  flex-basis: 30%;
}

.landing_content {
  flex-basis: 70%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.benefits {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits_content {
  width: 50%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.testimonial p {
  width: 50%;
  margin-bottom: 2px;
  margin-top: 2px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
